node_modules/*
platforms/ios/market-phone/app/*
!platforms/ios/market-phone/app/market-phone.json
platforms/android/market-phone/app/src/main/assets/app/*
!platforms/android/market-phone/app/src/main/assets/app/market-phone.json
platforms/ios/market-phone/Pods
platforms/ios/market-phone/products/
platforms/ios/market-phone/jpush/
platforms/ios/market-phone/oss/
platforms/ios/market-phone/wechat/
platforms/ios/market-phone/alipay/
platforms/ios/market-phone/NetEaseIM/
platforms/android/UIKit/
platforms/android/netIm/
platforms/android/oss/
platforms/android/wechat/
platforms/android/jpush/
.svn
*.DS_Store
.idea
build
temp
dist/*
*.iml
release
.gradle
/build